<h2>List of ratings</h2>

<ul>
  <% @ratings.each do |rating| %>
      <li> <%= Beer.find(rating.beer_id).name %> </li>
      <li> <%= rating.score %> </li>
  <% end %>
</ul>

<p>
  Total ratings: <% Ratings.count %>
</p>