<h2>List of ratings</h2>

<ul>
  <% @ratings.each do |rating| %>
      <li> <%= rating %> <%= link_to rating.user.username, rating.user %> </li>
  <% end %>
</ul>

<p>
  Total ratings: <%= Rating.count %>
</p>

<p>
  <strong>Top 3 beers:</strong>

  <% Beer.top(3) do |b| %>
      <% link_to b.name, b %>
  <% end %>
</p>

<p>
  <strong>Top 3 breweries:</strong>

  <% Brewery.top(3) do |b| %>
      <% link_to b.name, b %>
  <% end %>
</p>

<p>
  <strong>Top 3 styles:</strong>

  <% Style.top(3) do |s| %>
    <% link_to s.name, s %>
  <% end %>
</p>

<%= link_to 'New Rating', new_rating_path, class:'btn btn-primary' if current_user %>