<h2>List of ratings</h2>

<ul>
  <% @ratings.each do |rating| %>
      <li> <%= rating %> <%= link_to 'delete', rating, method: :delete %> </li>
  <% end %>
</ul>

<p>
  Total ratings: <%= Rating.count %>
</p>

<%= link_to 'New Rating', ratings_new_path %>